.container {
  font-family:monospace;
  position: relative;
  text-align: center;
  padding: 0px;
  width: 90%;
  max-width: 800px;
  padding-bottom: 50px;
}

.counters {
  color: grey;
  font-size: medium;
  text-align: left;
  margin: auto;
}

.letftSide {
  text-align: left;
}

.rightSide {
  text-align: right;;
}

#inputText{
  margin-bottom:10px;
}

.footer {
  text-align: center;
  font-size: x-small;
  color: grey;
  margin-bottom:10px;
}

button {
  margin: 2px;
}
